<md-dialog aria-label="Assimilação de novo DRG ao usuário">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ctrlDialog.labels.titlePanel}}</h2>
      <span flex></span>
      <md-button
        class="md-icon-button" aria-label="{{ctrlDialog.btns.closeDialog}}"
        ng-click="ctrlDialog.fns.closeDialogCreateDrg()">
        <ng-md-icon icon="close" style=""></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
          flex-xs="100" flex-gt-xs="100"
          md-input-name="autocompleteField"
          md-input-minlength="4"
          md-min-length="4"
          md-input-maxlength="255"
          md-no-cache="ctrlDialog.searchBox.noCache"
          md-search-text="ctrlDialog.searchBox.qString"
          md-selected-item="ctrlDialog.searchBox.selectedItem"
          md-items="item in ctrlDialog.fns.querySearch(ctrlDialog.searchBox.qString)"
          md-item-text="item.fld_nome"
          md-floating-label="{{ctrlDialog.labels.searchDrg}}"
          md-menu-class="autocompleteSearchDrgs">
          <md-item-template>
            <span md-highlight-text="ctrlDialog.searchBox.qString" md-highlight-flags="^i">{{item.fld_nome}}</span>
          </md-item-template>
          <md-not-found>
            {{ctrlDialog.labels.notFound}}
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="{{ctrlDialog.btns.createDrg}}" ng-click="ctrlDialog.fns.create()">
      {{ctrlDialog.btns.createDrg}}
    </md-button>
  </md-dialog-actions>
</md-dialog>
